.error{
	color: red;
}
.formFieldClass{
	color: green;
	font-size: 14px;
	font-weight: bold;
}
.formLabelClass{
	color: black;
	font-size: 14px;
	font-weight: bold;
}  
.formButtonClass{
	color: black;
	font-size: 20px;
	font-weight: bold;
} 
body{
	font-family: "Lucida Grande",verdana,arial,hevetica,sans-serif;
	font-size: 9pt;
	background-color: #ffffff;
	margin-top: 0px;
	text-align: center;
}
div#container{
	margin-left: 10px;
	text-align: left;
}
.header{
	width: 784px;
	background-repeat: repeat-x;
	background-color: #ffffff;
	border-bottom: 1px,dotted,#660000;
	font-size: 8pt;
	color: #FFFFFF
}