.textSize1{
	font-size: 20;
	font-style: bold;
}

.textSize2{
	font-size: 17;
	font-style: bold;
}

.items{
	border : thin solid black;
	width: 90%;
	valign :top;
}


.itemsHeader{ 
	text-align: center;
	font-style: italic bold;
	font-size: 20;
	color: snow;
	background: Teal;
}

.oddColumn{
	text-align: center;
	height: 25px;
	background: MediumTurquoise;
}

.evenColumn{
	text-align: center;
	background: PowderBlue;
}