<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Parameter TestStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>State</param-name>
    <param-value>bangalore</param-value>
  </context-param>
  <context-param>
    <param-name>Country</param-name>
    <param-value>India</param-value>
  </context-param>
  <servlet>
    <servlet-name>t</servlet-name>
    <servlet-class>com.myPkg.Test</servlet-class>
    <init-param>
      <param-name>phone</param-name>
      <param-value>11111</param-value>
    </init-param>
    <init-param>
      <param-name>Email</param-name>
      <param-value>em@123.com</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>t</servlet-name>
    <url-pattern>/test.jlc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t13</servlet-name>
    <servlet-class>com.myPkg.Test1</servlet-class>
    <init-param>
      <param-name>phone</param-name>
      <param-value>2222</param-value>
    </init-param>
    <init-param>
      <param-name>Email</param-name>
      <param-value>me@32145.com</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>t13</servlet-name>
    <url-pattern>/test13.jlc</url-pattern>
  </servlet-mapping>
</web-app>