<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab16</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.jlcindia.listener.MyContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.jlcindia.listener.MySessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.jlcindia.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout.jlc</url-pattern>
  </servlet-mapping>
</web-app>